<footer class="text-black-50 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-8"> Le Lorem Impsum est simplement du faux texte employe dans la composition et mise en
                    place dans l'impression.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Information</h5>
                <hr class="bg-white wb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Other links</h5>
                <hr class="bg-white wb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Contact</h5>
                <hr class="bg-white wb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li>My company</li>
                    <li>email@example.com</li>
                    <li>+11 12 13 14 15</li>
                    <li>+11 12 13 14 15</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
